<div class="container">
  <div class="list-group">
    <a class="list-group-item list-group-item-action active flex-column">
      <h1 class="headline">Proposal List</h1>
    </a>
    <a *ngFor="let proposal of proposals" class="list-group-item list-group-item-action flex-column proposal-link" (click)="goToShow(proposal)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 proposal-heading">{{proposal.customer}}</h5>
      </div>
      <p class="mb-1">
        {{ proposal.hourly_rate * proposal.estimated_hours | currency: 'USD':true:'.0' }}
      </p>
    </a>
  </div>
</div>
